body{
    margin: 0;
    background-image: url("./assests/icons/day.png");
    color:white;
    font-family: 'Lato', sans-serif;
}
.navbar{
    /* background-color:rgb(209, 209, 209); */
    height: 10vh;
    justify-content: space-between;
    
}
.logo{
    height: 5vh;
    margin:1vh 4vw;
}
.search-btn{
    height: 3vh;
    margin:1vh 4vw;
}
.searchBox{
    height:5vh;
    width:60vw;
    background: transparent;
    color: rgb(255, 254, 254);
    font-size: 1.3rem;
    border: none;
}
.serachBox:focus{
    background: white;
    border: none;
}
.temp{
    
    font-size: 5rem;
    margin-left: 10vw;
}
.cel{    
    font-size: 3rem;   
}
.weatherIcon{
    height: 15vh;
    margin-left: 6vw;
}
.tempDiv{
    margin:10vh 0 0 0;
}
.conditionDiv{
    margin:0vh 4vh;
    font-size: 1.2rem;
}
.condition{
     /* margin:10vh 0; */
    font-size: 2rem;
}
p{
    margin:1vh 0;
}
h1{
    font-size: 3rem;
    margin:10vh 4vh
}
@media screen and (min-width : 400px){
    body{
        background-image: url("./assests/icons/bg.webp");
        background-repeat: space;
    }
    .navbar{
        margin-top: 2vh;
    }
    .logo{
        height: 8vh;
        margin:3vh 4vw;
    }
    .search-btn{
        height: 5vh;
        margin:1vh 10vw 0 0;
    }
    .tempDiv{
       align-items: center;
    }
    .conditionDiv{
        margin-left:10vw;
    }
    .temp{
    
        font-size: 5rem;
        margin-left: 10vw;
    }
    .cel{    
        font-size: 3rem;   
    }
    .weatherIcon{
        height: 25vh;
        margin-left: 6vw;
    }

}