body{
    margin: 0;
    background-image: url("./assests/icons/day.png");
}
.navbar{
    /* background-color:rgb(209, 209, 209); */
    height: 10vh;
    justify-content: space-between;
    
}
.logo, .search-btn{
    height: 5vh;
    margin:1vh 4vw;
}
.searchBox{
    height:5vh;
    width:70vw;
    background: transparent;
    color: red;
    border: none;
}
.serachBox:focus{
    background: white;
    color: red;
    border: none;
}
p{

}
.temp{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    margin-left: 10vw;
}
.cel{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    /* margin-left: 10vw; */
}
