.flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.ai-center{
    align-items:center;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.overflow{
    overflow: scroll;
}
.overflow::-webkit-scrollbar {
    display: none;
  }